<!DOCTYPE html>
<html>
<head>
    <title>Sensor Data Dashboard</title>
    <meta http-equiv="refresh" content="6" >
    <style>
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
        tr:nth-child(even) { background-color: #f9f9f9; }
    </style>
</head>
<body>
    <h1>Last 5 Sensor Readings!</h1>
    <table>
        <thead>
            <tr>
                <th>Reading Time</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Pressure</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>